.login-wrapper {
    max-width: 80%;
    min-width: 385px;
    position: absolute;
    margin-top: 32px;
    left: 50%;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
}

.form-submit-button {
    margin-bottom: 16px;
    margin-top: 16px;
}

.form-pad {
    padding-bottom: 38px;
}

.logo {
    text-decoration: none;
    color: white;
}

.welcome{
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block;
    vertical-align: middle;
}

.avatar {
    height: 64px;
    width: 64px;
    object-fit: cover;
}

#cog {
    height: 32px;
    width: 32px;
}

html {
  overflow-y: scroll;
}