.banner {
    min-width: 685px;
}

.create-wrapper, .login-wrapper, .settings-wrapper {
    max-width: 80%;
    min-width: 385px;
    position: absolute;
    margin-top: 16px;
    left: 50%;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
}

.form-submit-button {
    margin-bottom: 16px;
    margin-top: 16px;
}

.form-pad {
    padding-bottom: 38px;
}

.form-title, .meme-title {
    margin-bottom: 0;
    padding-left: 12px;
    font-size: 32px;
}

.meme-wrapper {
    margin: 16px auto 0px;
    min-width: 600px;
    max-width: 1100px;
    padding-bottom: 1px;
}

.meme-time {
    margin-left: 12px;
}

.meme-image {
    background: white;
    margin: 0 12px;
    max-width: inherit;
    max-height: 600px;
}
.meme-image img {
    object-fit: cover;
    max-height: inherit;
    display: block;
    margin: 0 auto;
}

.comment-wrapper {
    margin-left: 12px;
    margin-right: 12px;
    color: black;
    padding: 6px;
    display: block;
    min-height: 96px;
    word-wrap:break-word;
    overflow: auto;
}
.comment-wrapper:last-child {
    margin-bottom: 16px;
}
.comment-wrapper:nth-child(odd){
    background: white;
}
.comment-wrapper:nth-child(even){
    background: #ede6fb;
}

.comment-author {
    width: 110px;
    text-align: center;
}

.comment-author p {
    margin: 0;
}

.text-btn:hover {
    background-color: inherit;
}

.text-btn i:hover {
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
}

.welcome {
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block;
    vertical-align: middle;
}

.avatar {
    height: 64px;
    width: 64px;
    object-fit: cover;
    display: inline-block;
    margin: 0 auto;
}

.error {
    max-width: 60%;
    margin: 0;
    left: 50%;
    position: relative;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
}
.error p{
    padding: 6px;
    text-align: center;
}

.page {
    padding-left: 8px;
    padding-right: 8px;
}

#cog {
    height: 32px;
    width: 32px;
}

html {
    overflow-y: scroll;
    overflow-x: auto;
}
a {
    text-decoration: none;
    color: purple;
    /* Firefox */
    -moz-transition: color 0.2s ease-in;
    /* WebKit */
    -webkit-transition: color 0.2s ease-in;
    /* Opera */
    -o-transition: color 0.2s ease-in;
    /* Standard */
    transition: color 0.2s ease-in;
}

a:hover {
    color: #e600e6;
}